@media (max-with:768px){

}
.container {
    display: flex;
    flex-wrap: wrap;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,50px);
}
h1{
    color:red;
}

.title{
    color:mediumspringgreen;
}
p {
    margin: 15px 0;
    padding: 5px;
    border: 7px solid #999;
}
